<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header'); %>
    <title>Journel</title>
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <main>
      <div class="photos mt-xs">
        <div class="photos__heading">Isaac's Photos</div>
        <div class="photos__main mt-sm">
          <div class="photos__control-bar">
            <div class="filter--date filter">
              <div class="filter__name">Date</div>
              <svg class="filter__icon icon icon-triangle-down">
                <use
                  xlink:href="/images/svg/symbol-defs.svg#icon-triangle-down"
                ></use>
              </svg>
            </div>
            <div class="filter--tags filter">
              <div class="filter__name">Tags</div>
              <svg class="filter__icon icon icon-triangle-down">
                <use
                  xlink:href="/images/svg/symbol-defs.svg#icon-triangle-down"
                ></use>
              </svg>
            </div>
            <div class="btn--sort">
              <svg class="icon icon-sort">
                <use
                  xlink:href="/images/svg/symbol-defs.svg#icon-bar-graph"
                ></use>
              </svg>
            </div>
          </div>
          <div class="photos-grid mb-sm">
            <div class="photos-grid__2-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">2x3</div>
            </div>
            <div class="photos-grid__1-1 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x1</div>
            </div>
            <div class="photos-grid__2-4 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">2x4</div>
            </div>
            <div class="photos-grid__1-4 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x4</div>
            </div>
            <div class="photos-grid__1-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x3</div>
            </div>
            <div class="photos-grid__1-2 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x2</div>
            </div>
            <div class="photos-grid__3-4 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">3x4</div>
            </div>
            <div class="photos-grid__4-1 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">4x1</div>
            </div>
            <div class="photos-grid__1-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x3</div>
            </div>
            <div class="photos-grid__4-2 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">4x2</div>
            </div>
            <div class="photos-grid__1-4 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x4</div>
            </div>
            <div class="photos-grid__2-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">2x3</div>
            </div>
            <div class="photos-grid__3-2 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">3x2</div>
            </div>
            <div class="photos-grid__3-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">3x3</div>
            </div>
            <div class="photos-grid__3-1 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">3x1</div>
            </div>
            <div class="photos-grid__4-4 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">4x4</div>
            </div>
            <div class="photos-grid__4-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">4x3</div>
            </div>
            <div class="photos-grid__3-1 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">3x1</div>
            </div>
            <div class="photos-grid__2-2 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">2x2</div>
            </div>
            <div class="photos-grid__2-1 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">2x1</div>
            </div>
            <div class="photos-grid__3-4 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">3x4</div>
            </div>
            <div class="photos-grid__4-1 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">4x1</div>
            </div>
            <div class="photos-grid__1-3 photos-grid__item">
              <img src="" alt="" class="item__image" />
              <div class="item__detail">1x3</div>
            </div>
          </div>
          <div class="photos__older-photos-prompt">Show older photos</div>
        </div>
      </div>
    </main>
  </body>
  <%- include('partials/footer', {year}); %>
</html>
