<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header'); %>
    <title>Journel</title>
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <main>
      <div class="photos mt-sm">
        <div class="photos__heading">Isaac's Photos</div>
        <div class="photos__control-bar mt-xs">
          <div class="filter--date filter">
            <div class="filter__name">Date</div>
            <svg class="filter__icon icon icon-triangle-down">
              <use
                xlink:href="/images/svg/symbol-defs.svg#icon-triangle-down"
              ></use>
            </svg>
          </div>
          <div class="filter--tags filter">
            <div class="filter__name">Tags</div>
            <svg class="filter__icon icon icon-triangle-down">
              <use
                xlink:href="/images/svg/symbol-defs.svg#icon-triangle-down"
              ></use>
            </svg>
          </div>
          <div class="btn--sort">
            <svg class="icon icon-sort">
              <use
                xlink:href="/images/svg/symbol-defs.svg#icon-bar-graph"
              ></use>
            </svg>
          </div>
        </div>
        <div class="photos__photos-grid">Photos-grid</div>
        <div class="photos__older-photos-prompt">Show older photos</div>
      </div>
    </main>
  </body>
  <%- include('partials/footer', {year}); %>
</html>
