<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header'); %>
    <title>Journel</title>
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <main>
      <div class="photos mt-sm">
        <div class="photos__heading">Isaac's Photos</div>
        <div class="photos__control-bar">Control bar</div>
        <div class="photos__photos-grid">Photos-grid</div>
        <div class="photos__older-photos-prompt">Show older photos</div>
      </div>
    </main>
  </body>
  <%- include('partials/footer', {year}); %>
</html>
