<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/header'); %>
    <!-- <script defer src="/js/gallery.js"></script> -->
    <script defer src="/js/play-recording.js"></script>
    <title>Journel</title>
  </head>
  <body>
    <%- include("partials/navbar"); %>
    <main>
      <div class="gallery" id="gallery">
        <img src="" alt="Gallery Photo" class="gallery__img" />
      </div>
      <div class="recordings mt-xs">
        <div class="recordings__heading heading">Isaac's Recordings</div>
        <div class="recordings__main mt-md">
          <div class="recordings__sub-heading sub-heading">May '21</div>
          <div class="recordings__calendar mb-sm gallery__target-container">
            <div class="recording">
              <div class="recording__date recording__date--past">25</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date recording__date--past">26</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date recording__date--past">27</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date recording__date--past">28</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date recording__date--past">29</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date recording__date--past">30</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">1</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">2</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">3</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">4</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording recording--today">
              <div class="recording__date">5</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">6</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">7</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
            <div class="recording">
              <div class="recording__date">8</div>
              <audio src="" class="recording__audio gallery__target"></audio>
              <a class="recording__btn recording__btn--pause">
                <svg class="icon-pause">
                  <use
                    xlink:href="/images/svg/symbol-defs.svg#icon-controller-paus"
                  ></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="recordings__pagination"></div>
        </div>
      </div>
    </main>
  </body>
  <%- include('partials/footer', {year}); %>
</html>
