<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Mrs+Sheppards&display=swap"
      rel="stylesheet"
    />
    <title>Journel</title>
  </head>
  <body>
    <nav class="navbar">Navbar</nav>
    <main>
      <div class="timeline">
        <div class="header">
          <div class="header__photos">Photos</div>
          <div class="header__title">Title</div>
          <div class="header__date">Date</div>
          <div class="header__player">Player</div>
        </div>
        <div class="post">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta labore
          fuga id. Molestias sapiente enim aut? Obcaecati, accusantium!
          Veritatis, culpa beatae, ducimus deleniti sequi dolore quidem odio
          odit facilis aspernatur quo sunt placeat illo tempore nobis inventore
          tenetur deserunt, reiciendis officia illum veniam repudiandae fugiat.
          Perspiciatis, officiis cumque beatae neque, ducimus iure modi labore
          commodi necessitatibus facere, recusandae deleniti quos perferendis
          soluta! Ab autem excepturi possimus harum ipsam at, quos, recusandae
          saepe repellendus natus quasi optio delectus explicabo, minima hic.
          Quis commodi harum voluptatum accusamus ipsum neque, vitae minima
          distinctio suscipit quibusdam doloribus ipsa nam quos placeat quia
          iusto molestiae? Vitae consequuntur, aut, quis corrupti magni quae
          illum nihil iusto exercitationem quisquam quaerat numquam ratione
          accusantium aspernatur. Provident ad laudantium accusamus qui
          doloribus, magni inventore. Tenetur inventore labore nemo praesentium
          incidunt eaque omnis sapiente, voluptate repudiandae doloribus ullam
          maxime voluptatum saepe cum nostrum deserunt quod repellendus illum
          libero asperiores blanditiis numquam? Architecto, dignissimos
          voluptatibus. Fugiat optio doloremque vel autem alias, cumque debitis
          rem, iste voluptatibus, voluptatum explicabo repudiandae quisquam
          laudantium voluptates dolores? Incidunt iste doloribus consectetur
          placeat sequi fugiat cupiditate nesciunt animi qui illum? Ducimus,
          corporis optio recusandae voluptatibus nulla esse vel dolorum quasi
          quibusdam aut rerum fugiat iusto explicabo quidem provident modi odit
          tempore expedita aperiam illo pariatur! Voluptatibus ipsa tempora nemo
          placeat deserunt eligendi suscipit distinctio rerum non mollitia?
          Tempore neque alias quidem magni! Quas, labore tempora sed dicta,
          impedit accusantium ipsum optio voluptatibus voluptatum culpa maxime.
          Dolor vel voluptatibus illo nulla enim aperiam, in minima amet
          aliquid.
        </div>
      </div>
    </main>
  </body>
</html>
