<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Mrs+Sheppards&display=swap"
      rel="stylesheet"
    />
    <title>Journel</title>
  </head>
  <body>
    <nav class="navbar">Navbar</nav>
    <main>
      <div class="timeline">
        <div class="header">
          <div class="header__photos">Photos</div>
          <div class="header__title">Title</div>
          <div class="header__date">Date</div>
          <div class="header__player">Player</div>
        </div>
        <div class="post">Post</div>
      </div>
    </main>
  </body>
</html>
