<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&family=Mrs+Sheppards&display=swap"
      rel="stylesheet"
    />
    <script
      defer
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    ></script>
    <script defer src="/js/live.js"></script>
    <script defer src="/js/gallery.js"></script>
    <script defer src="/js/text-fit.js"></script>
    <title>Journel</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar__logo">
        <div class="logo">J</div>
      </div>
      <div class="navbar__separator">
        <div class="navbar__separator--top">
          <svg class="navbar__icon icon icon-minus">
            <use xlink:href="/images/svg/symbol-defs.svg#icon-minus"></use>
          </svg>
        </div>
        <div class="navbar__separator--middle">
          <svg class="navbar__icon icon icon-minus">
            <use xlink:href="/images/svg/symbol-defs.svg#icon-minus"></use>
          </svg>
        </div>
        <div class="navbar__separator--bottom">
          <svg class="navbar__icon icon icon-minus">
            <use xlink:href="/images/svg/symbol-defs.svg#icon-minus"></use>
          </svg>
        </div>
      </div>
      <div class="navbar__posts"></div>
      <div class="navbar__photos"></div>
      <div class="navbar__recordings"></div>
    </nav>
    <main>
      <div class="timeline">
        <div class="gallery" id="gallery">
          <img src="" alt="Gallery Photo" class="gallery__img" />
        </div>
        <div class="header">
          <div class="photos">
            <img
              src="/images/photo-1.jpg"
              alt="Photo 1"
              class="photo photo--active"
            />
            <img
              src="/images/photo-2.jpg"
              alt="Photo 2"
              class="photo photo--mid"
            />

            <img
              src="/images/photo-3.jpg"
              alt="Photo 3"
              class="photo photo--last"
            />
          </div>
          <div class="title">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Harum
            quasi enim quod ipsa placeat debitis tempora ad iste doloribus eos!
          </div>
          <div class="date">October 31, 2021</div>
          <div class="player mt-sm">
            <div class="btn-play">
              <svg class="icon-play">
                <use
                  xlink:href="/images/svg/symbol-defs.svg#icon-controller-play"
                ></use>
              </svg>
            </div>
            <div class="scrubber">
              <div class="scrubber__bar">
                <div class="scrubber__total"></div>
                <div class="scrubber__elapsed">
                  <div class="scrubber__amount"></div>
                  <div class="scrubber__point"></div>
                </div>
              </div>
              <div class="scrubber__timestamp">
                <div class="scrubber__start">0:00</div>
                <div class="scrubber__end">3:21</div>
              </div>
            </div>
            <audio>
              <source src="" type="audio/mp3" />
            </audio>
          </div>
        </div>
        <div class="post">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Exercitationem ex doloremque dicta incidunt omnis magni temporibus
          cupiditate, voluptas nisi odit adipisci nam itaque! Commodi provident
          repellendus pariatur ipsum saepe at, quam a velit nisi dicta deserunt
          dolorem illum? Natus sapiente cumque sint aperiam deserunt iusto nulla
          eos excepturi minus quibusdam. Delectus, ipsa ipsam? Quaerat quod
          amet, architecto excepturi porro voluptatibus facilis rerum veniam
          quia odit hic? Doloribus, excepturi. Consequuntur labore voluptatem
          quasi delectus omnis modi dolorem, rem tempore hic dolor quo id totam,
          cum odio tempora nobis velit. Veniam asperiores, facere in tenetur
          perspiciatis aliquid, reprehenderit voluptatum nesciunt consequatur
          nisi cum! Nam facilis consequuntur, animi, iure in placeat error
          incidunt similique maxime voluptatem officia? Sunt dignissimos libero
          et voluptatem illum perspiciatis, recusandae corporis nobis optio hic
          deleniti mollitia nihil, dolor labore possimus nemo laborum animi
          totam ab nulla vero voluptatibus a, quo atque? Quas praesentium
          voluptates sed in alias nisi a distinctio error tempora accusantium.
          Reprehenderit laborum eum earum commodi veniam nulla, veritatis quam
          molestias ea sed incidunt ut. Facere itaque doloremque eos sunt
          laboriosam, cupiditate aliquam magnam dolor sint? Doloribus, inventore
          ea ullam, alias vitae fugiat voluptas quasi libero eius tenetur
          asperiores! Accusantium a quibusdam ratione obcaecati odit expedita
          repudiandae nam? Odio, cupiditate. Maxime totam labore beatae saepe in
          assumenda animi? Totam dolores adipisci repudiandae alias ipsa minima
          inventore deleniti, ullam officia neque quas ex sequi quasi molestias
          dolor voluptatum ad eveniet cumque quo quaerat sapiente maxime ut. Ad,
          quisquam. Provident eligendi suscipit inventore excepturi? Cupiditate
          quibusdam temporibus voluptas quo error dolor inventore quaerat odit
          ullam, vel, ipsam rem perspiciatis sint optio distinctio molestiae
          iusto hic est dolore sed. Impedit fuga ducimus esse minus tenetur
          illum nihil doloribus fugit? Voluptatibus excepturi consequuntur
          quidem eligendi, est, mollitia a accusamus, fugit expedita laboriosam
          atque autem nam rerum laudantium porro iusto eveniet repellat ut
          aspernatur totam voluptates sint temporibus illum eos! Nihil est illum
          incidunt suscipit, recusandae cupiditate illo autem earum! Dolorem
          corrupti id debitis commodi odit ab iure ipsum vitae, dicta quae
          aliquam obcaecati doloremque adipisci ipsa voluptatibus eos magni
          placeat reiciendis repellat beatae excepturi. Quod doloremque,
          obcaecati facilis eius vero architecto modi ullam excepturi temporibus
          eos sunt cum molestias quis delectus at. Itaque voluptate corrupti,
          perspiciatis animi sit odit esse iusto neque culpa quaerat ullam
          tempora facere vero aspernatur dolor dolorem ea pariatur tenetur!
          Voluptates delectus sit alias ad dolore reiciendis, veritatis soluta,
          explicabo ut necessitatibus consequuntur laboriosam fuga optio
          obcaecati amet. Nostrum incidunt saepe labore cumque aliquid. Quo
          laboriosam delectus fugiat repellat, doloremque dolor autem nesciunt
          amet iusto asperiores soluta eum dicta quisquam, dolorum, eveniet
          omnis iure commodi illo nisi aperiam inventore. At eveniet, quibusdam
          culpa omnis officia numquam beatae non laboriosam autem voluptatibus
          eos explicabo cumque pariatur voluptatem fuga aliquam corporis eum
          optio deleniti odio obcaecati nobis, quasi soluta. Rem, quos aliquam
          cumque assumenda dolorum qui! Quas nesciunt labore id cumque non nihil
          cum modi ullam accusamus aspernatur eligendi quaerat velit vitae quod
          eaque sint exercitationem reprehenderit nulla enim molestias laborum,
          tempora beatae! Veritatis dolor natus aspernatur sequi?
        </div>
      </div>
    </main>
  </body>
</html>
