:root {
  --border-radius-scrubber-bar: 0.2rem;
  --font-primary: "Lato", sans-serif;
  --font-logo: "Mrs Sheppards", cursive;
  --height-scrubber-bar: 30%;
  --left-photo--active: -0.25rem;
  --left-between-photos: 0.75rem;
  --top-photo--active: 0rem;
  --top-between-photos: 0.75rem;
  --padding-sides-timeline: 2rem;
  --width-scrubber-point: 1.15rem;
  --x-translation-scrubber-point: -0.1rem;
  --z-index-frontmost: 3000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #eff7f6;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 1fr;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: #000;
}

.mt-sm {
  margin-top: 3rem;
}

.tf-calculation {
  position: absolute;
  visibility: hidden;
  width: auto;
  height: auto;
  white-space: nowrap;
}

.gallery {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--z-index-frontmost) - 1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.gallery:target {
  opacity: 1;
  visibility: visible;
}
.gallery:target .gallery__img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.gallery__img {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.3s 0.2s;
  max-width: 75%;
  max-height: 85%;
  background-size: contain;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  z-index: var(--z-index-frontmost);
}

.header {
  padding: 2rem var(--padding-sides-timeline);
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 55% 10% 30%;
  grid-template-areas: "photos title" "photos date" "photos player";
  column-gap: 3rem;
}
.header .title {
  grid-area: title;
  align-self: end;
  font-size: 8rem;
  color: #72b3f1;
  height: 100%;
  overflow: hidden;
}
.header .date {
  grid-area: date;
  align-self: start;
  font-size: 1.5rem;
  color: #495057;
}

.icon-minus {
  height: 3rem;
  width: 4rem;
}

.icon-play {
  height: 3rem;
  width: 3rem;
  fill: #fff;
}

.logo {
  font-family: var(--font-logo);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1rem 0 2rem;
}
.navbar > :not(:nth-child(2)) {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s;
}
.navbar > :not(:nth-child(2)):hover {
  transform: scale(1.15);
}
.navbar__logo {
  color: #b9e4ee;
  font-size: 3.5rem;
}
.navbar__separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__separator--top, .navbar__separator--middle, .navbar__separator--bottom {
  height: 0.75rem;
}
.navbar__separator--middle .navbar__icon {
  width: 2rem;
}
.navbar__icon {
  fill: #fff;
}

.photos {
  grid-area: photos;
  padding-right: 4rem;
  position: relative;
}
.photos .photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  transform: translateZ(0) translate(0, 0);
  transition: all 0.5s;
}
.photos .photo:hover {
  transform: translateZ(5rem) translate(-0.5rem, -0.5rem);
  z-index: 4;
}
.photos .photo:last-of-type {
  box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
}
.photos .photo--active {
  z-index: 3;
  top: var(--top-photo--active);
  left: var(--left-photo--active);
}
.photos .photo--mid {
  z-index: 2;
  top: calc(var(--top-photo--active) + var(--top-between-photos));
  left: calc(var(--left-photo--active) + var(--left-between-photos));
}
.photos .photo--last {
  z-index: 1;
  top: calc(var(--top-photo--active) + (var(--top-between-photos) * 2));
  left: calc(var(--left-photo--active) + (var(--left-between-photos) * 2));
}

.player {
  grid-area: player;
  align-self: center;
  width: 40%;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.125);
  border-radius: 5rem;
  padding: 0 2rem;
}
.player .btn-play {
  background-color: rgba(247, 214, 224, 0.7);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.2s;
}
.player .btn-play:hover {
  transform: scale(1.15);
}
.player .btn-play:active {
  transform: scale(1);
}
.player .btn-play .icon-play {
  height: 3rem;
  width: 3rem;
  fill: #fff;
}
.player .scrubber {
  height: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  transform: translateY(var(--height-scrubber-bar));
}
.player .scrubber__bar {
  flex: 0 0 var(--height-scrubber-bar);
  width: 100%;
  position: relative;
}
.player .scrubber__total {
  height: 100%;
  width: 100%;
  background-color: #d2d2d2;
  border-radius: var(--border-radius-scrubber-bar);
}
.player .scrubber__elapsed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
}
.player .scrubber__amount {
  flex: 0 0 calc( 100% - var(--width-scrubber-point) + var(--x-translation-scrubber-point) );
  border-radius: var(--border-radius-scrubber-bar);
  background-color: #fff;
  z-index: 2;
}
.player .scrubber__point {
  align-self: center;
  width: var(--width-scrubber-point);
  height: var(--width-scrubber-point);
  transform: translateX(var(--x-translation-scrubber-point));
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.player .scrubber__timestamp {
  margin-top: 0.2rem;
  color: #495057;
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post {
  padding: var(--padding-sides-timeline);
  column-count: 2;
  column-gap: 2rem;
  column-fill: auto;
  line-height: 1.5;
  font-size: 1.25rem;
  grid-row: 2;
}

.timeline {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 40% 60%;
}

/*# sourceMappingURL=style.css.map */
