:root {
  --border-radius-scrubber-bar: 0.2rem;
  --font-primary: "Lato", sans-serif;
  --font-logo: "Mrs Sheppards", cursive;
  --height-scrubber-bar: 30%;
  --left-photo--active: -0.25rem;
  --left-between-photos: 0.75rem;
  --top-photo--active: 0rem;
  --top-between-photos: 0.75rem;
  --padding-sides-timeline: 2rem;
  --width-scrubber-point: 1.15rem;
  --x-translation-scrubber-point: -0.1rem;
  --z-index-frontmost: 3000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: #eff7f6;
  width: 100%;
  display: grid;
  grid-template-columns: 5% 1fr;
  grid-template-rows: auto 10%;
  grid-template-areas: "navbar main" "navbar footer";
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-primary);
  color: #000;
}

.mt-xs {
  margin-top: 1.5rem;
}

.mt-sm {
  margin-top: 3rem;
}

.mt-md {
  margin-top: 5rem;
}

.mb-xs {
  margin-bottom: 1.5rem;
}

.mb-sm {
  margin-bottom: 3rem;
}

.tf-calculation {
  position: absolute;
  visibility: hidden;
  width: auto;
  height: auto;
  white-space: nowrap;
}

.btn--sort {
  cursor: pointer;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.2rem rgba(210, 210, 210, 0.15) solid;
  border-radius: 0.25rem;
  padding: 0.5rem 0.15rem 0.5rem 0.5rem;
  text-align: start;
}
.filter__icon {
  height: 2rem;
  width: 2rem;
  fill: #b9e4ee;
}

.footer {
  width: 100%;
  text-align: center;
  color: #495057;
  font-size: 1rem;
  grid-area: footer;
}

.gallery {
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--z-index-frontmost) - 1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.gallery:target {
  opacity: 1;
  visibility: visible;
}
.gallery:target .gallery__img {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.gallery__img {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.3s 0.2s;
  max-width: 75%;
  max-height: 85%;
  background-size: contain;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  z-index: var(--z-index-frontmost);
}

.header {
  padding: 2rem var(--padding-sides-timeline);
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-rows: 55% 10% 30%;
  grid-template-areas: "photos title" "photos date" "photos player";
  column-gap: 3rem;
}
.header .title {
  grid-area: title;
  align-self: end;
  font-size: 8rem;
  color: #72b3f1;
  height: 100%;
  overflow: hidden;
}
.header .date {
  grid-area: date;
  align-self: start;
  font-size: 1.5rem;
  color: #495057;
}

.icon-minus,
.icon-text,
.icon-images,
.icon-video {
  height: 3rem;
  width: 3rem;
}

.icon-play {
  height: 3rem;
  width: 3rem;
  fill: #fff;
}

.logo {
  font-family: var(--font-logo);
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  height: 40%;
  padding-right: 1rem;
  padding-left: 2rem;
}
.navbar > :not(:nth-child(2)) {
  cursor: pointer;
  transform: scale(1);
  transition: all 0.2s;
}
.navbar > :not(:nth-child(2)):hover {
  transform: scale(1.25);
}
.navbar__logo {
  color: #b9e4ee;
  font-size: 3.5rem;
  height: 5%;
}
.navbar__separator {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar__separator--top, .navbar__separator--middle, .navbar__separator--bottom {
  height: 0.75rem;
}
.navbar__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}
.navbar__separator--top .navbar__icon, .navbar__separator--bottom .navbar__icon {
  width: 4rem;
}
.navbar__separator--middle .navbar__icon {
  width: 2rem;
}

.photos-grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 5.5rem);
  grid-template-rows: repeat(auto-fit, 5.5rem);
  grid-auto-rows: 5.5rem;
  grid-auto-columns: 5.5rem;
  width: 70%;
}
.photos-grid__item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.photos-grid__item:hover .item__image {
  filter: blur(2px);
}
.photos-grid__item:hover .item__detail {
  opacity: 1;
}
.photos-grid__item .item__image {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
  filter: blur(0px);
  transition: blur 0.5s ease-in;
}
.photos-grid__item .item__detail {
  background: rgba(255, 255, 255, 0.2);
  opacity: 0;
  transition: opacity 0.7s;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.photos-grid__1-1 {
  grid-row-end: span 1;
  grid-column-end: span 1;
  background-color: burlywood;
}
.photos-grid__1-2 {
  grid-row-end: span 1;
  grid-column-end: span 2;
  background-color: burlywood;
}
.photos-grid__1-3 {
  grid-row-end: span 1;
  grid-column-end: span 3;
  background-color: burlywood;
}
.photos-grid__1-4 {
  grid-row-end: span 1;
  grid-column-end: span 4;
  background-color: burlywood;
}
.photos-grid__2-1 {
  grid-row-end: span 2;
  grid-column-end: span 1;
  background-color: blueviolet;
}
.photos-grid__2-2 {
  grid-row-end: span 2;
  grid-column-end: span 2;
  background-color: blueviolet;
}
.photos-grid__2-3 {
  grid-row-end: span 2;
  grid-column-end: span 3;
  background-color: blueviolet;
}
.photos-grid__2-4 {
  grid-row-end: span 2;
  grid-column-end: span 4;
  background-color: blueviolet;
}
.photos-grid__3-1 {
  grid-row-end: span 3;
  grid-column-end: span 1;
  background-color: yellowgreen;
}
.photos-grid__3-2 {
  grid-row-end: span 3;
  grid-column-end: span 2;
  background-color: yellowgreen;
}
.photos-grid__3-3 {
  grid-row-end: span 3;
  grid-column-end: span 3;
  background-color: yellowgreen;
}
.photos-grid__3-4 {
  grid-row-end: span 3;
  grid-column-end: span 4;
  background-color: yellowgreen;
}
.photos-grid__4-1 {
  grid-row-end: span 4;
  grid-column-end: span 1;
  background-color: aqua;
}
.photos-grid__4-2 {
  grid-row-end: span 4;
  grid-column-end: span 2;
  background-color: aqua;
}
.photos-grid__4-3 {
  grid-row-end: span 4;
  grid-column-end: span 3;
  background-color: aqua;
}
.photos-grid__4-4 {
  grid-row-end: span 4;
  grid-column-end: span 4;
  background-color: aqua;
}

.player {
  grid-area: player;
  align-self: center;
  width: 40%;
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  height: 100%;
  background-color: rgba(210, 210, 210, 0.125);
  border-radius: 5rem;
  padding: 0 2rem;
}
.player .btn-play {
  background-color: rgba(247, 214, 224, 0.7);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: transform 0.2s;
}
.player .btn-play:hover {
  transform: scale(1.15);
}
.player .btn-play:active {
  transform: scale(1);
}
.player .btn-play .icon-play {
  height: 3rem;
  width: 3rem;
  fill: #fff;
}
.player .scrubber {
  height: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
  transform: translateY(var(--height-scrubber-bar));
}
.player .scrubber__bar {
  flex: 0 0 var(--height-scrubber-bar);
  width: 100%;
  position: relative;
}
.player .scrubber__total {
  height: 100%;
  width: 100%;
  background-color: #d2d2d2;
  border-radius: var(--border-radius-scrubber-bar);
}
.player .scrubber__elapsed {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
}
.player .scrubber__amount {
  flex: 0 0 calc( 100% - var(--width-scrubber-point) + var(--x-translation-scrubber-point) );
  border-radius: var(--border-radius-scrubber-bar);
  background-color: #fff;
  z-index: 2;
}
.player .scrubber__point {
  align-self: center;
  width: var(--width-scrubber-point);
  height: var(--width-scrubber-point);
  transform: translateX(var(--x-translation-scrubber-point));
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}
.player .scrubber__timestamp {
  margin-top: 0.2rem;
  color: #495057;
  flex: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.post {
  padding: var(--padding-sides-timeline);
  column-count: 2;
  column-gap: 2rem;
  column-fill: auto;
  line-height: 1.5;
  font-size: 1.25rem;
  grid-row: 2;
}

.photos__heading {
  font-size: 5.5rem;
  font-weight: 800;
  text-align: center;
}
.photos__main {
  display: grid;
  grid-template-rows: 3rem auto 2rem;
  justify-items: center;
  row-gap: 1rem;
  width: 100%;
}
.photos__control-bar {
  display: flex;
  gap: 1rem;
  width: 70%;
}
.photos__control-bar > *:last-child {
  margin-left: auto;
}
.photos__control-bar .filter--date,
.photos__control-bar .filter--tags {
  cursor: pointer;
  font-size: 1.25rem;
  width: 10%;
}
.photos__control-bar .icon-sort {
  height: 2rem;
  width: 2rem;
  fill: #b9e4ee;
  transform: rotate(270deg);
}
.photos__older-photos-prompt {
  border-bottom: 0.3rem solid currentColor;
  cursor: pointer;
  font-size: 1.15rem;
  color: #b9e4ee;
}

.timeline {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: 40% 60%;
}
.timeline__photos {
  grid-area: photos;
  padding-right: 4rem;
  position: relative;
}
.timeline__photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  transform: translateZ(0) translate(0, 0);
  transition: all 0.5s;
}
.timeline__photo:hover {
  transform: translateZ(5rem) translate(-0.5rem, -0.5rem);
  z-index: 4;
}
.timeline__photo:last-of-type {
  box-shadow: 0.5rem 0.5rem 0.75rem rgba(0, 0, 0, 0.1);
}
.timeline__photo--active {
  z-index: 3;
  top: var(--top-photo--active);
  left: var(--left-photo--active);
}
.timeline__photo--mid {
  z-index: 2;
  top: calc(var(--top-photo--active) + var(--top-between-photos));
  left: calc(var(--left-photo--active) + var(--left-between-photos));
}
.timeline__photo--last {
  z-index: 1;
  top: calc(var(--top-photo--active) + (var(--top-between-photos) * 2));
  left: calc(var(--left-photo--active) + (var(--left-between-photos) * 2));
}

/*# sourceMappingURL=style.css.map */
