.photos {
  display: grid;
  grid-template-rows: 12.5% 5% 70% 2.5%;
  justify-items: center;

  width: 100%;
  height: 100vh;

  &__heading {
    font-size: 5.5rem;
    font-weight: 800;
    align-self: end;
  }

  &__control-bar {
    display: flex;
    gap: 1rem;

    width: 70%;

    & > *:last-child {
      margin-left: auto;
    }

    .filter--date,
    .filter--tags {
      cursor: pointer;
      font-size: 1.25rem;
      width: 10%;
    }

    .icon-sort {
      height: 2rem;
      width: 2rem;
      fill: $color-primary;

      transform: rotate(270deg);
    }
  }

  &__older-photos-prompt {
  }
}
