.gallery {
  background-color: $color-overlay-background;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: calc(var(--z-index-frontmost) - 1);

  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  will-change: opacity;

  &:target {
    opacity: 1;
    pointer-events: auto;
  }

  &:target &__img {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s 0.2s ease-out;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.3s 0.2s;

    max-width: 75%;
    max-height: 85%;
    background-size: contain;
    box-shadow: $box-shadow-gallery-photo;
    z-index: var(--z-index-frontmost);
    will-change: transform;
  }
}
