.header {
  background-color: $color-secondary;
  padding: 3rem var(--padding-sides-timeline);
  grid-row: 1 / 2;

  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 55% 15% 25%;
  grid-template-areas:
    "photos title"
    "photos date"
    "photos player";
  column-gap: 2rem;

  &__photos {
    grid-area: photos;
    background-color: cornflowerblue;
  }

  &__title {
    grid-area: title;
    background-color: rebeccapurple;
  }

  &__date {
    grid-area: date;
    background-color: rosybrown;
  }

  &__player {
    grid-area: player;
    background-color: orangered;
  }
}
