.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;

  height: 40%;
  padding-right: 1rem;
  padding-left: 2rem;

  & > :not(:nth-child(2)) {
    cursor: pointer;

    transform: scale(1);
    transition: all 0.2s;

    &:hover {
      @include emphasize;
    }
  }

  &__logo {
    color: $color-primary;
    font-size: 3.5rem;
    height: 5%;
  }

  &__separator {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--top,
    &--middle,
    &--bottom {
      height: 0.75rem;
    }
  }

  &__icon {
    height: 2.5rem;
    width: 2.5rem;
    fill: $color-white;
  }

  &__separator--top &__icon,
  &__separator--bottom &__icon {
    width: 4rem;
  }

  &__separator--middle &__icon {
    width: 2rem;
  }
}
