.photos-grid {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, 5.5rem);
  grid-template-rows: repeat(auto-fit, 5.5rem);
  grid-auto-rows: 5.5rem;
  grid-auto-columns: 5.5rem;

  width: 70%;

  &__1-1 {
    grid-row-end: span 1;
    grid-column-end: span 1;
    background-color: burlywood;
  }
  &__1-2 {
    grid-row-end: span 1;
    grid-column-end: span 2;
    background-color: burlywood;
  }
  &__1-3 {
    grid-row-end: span 1;
    grid-column-end: span 3;
    background-color: burlywood;
  }
  &__1-4 {
    grid-row-end: span 1;
    grid-column-end: span 4;
    background-color: burlywood;
  }

  &__2-1 {
    grid-row-end: span 2;
    grid-column-end: span 1;
    background-color: blueviolet;
  }
  &__2-2 {
    grid-row-end: span 2;
    grid-column-end: span 2;
    background-color: blueviolet;
  }
  &__2-3 {
    grid-row-end: span 2;
    grid-column-end: span 3;
    background-color: blueviolet;
  }
  &__2-4 {
    grid-row-end: span 2;
    grid-column-end: span 4;
    background-color: blueviolet;
  }

  &__3-1 {
    grid-row-end: span 3;
    grid-column-end: span 1;
    background-color: yellowgreen;
  }
  &__3-2 {
    grid-row-end: span 3;
    grid-column-end: span 2;
    background-color: yellowgreen;
  }
  &__3-3 {
    grid-row-end: span 3;
    grid-column-end: span 3;
    background-color: yellowgreen;
  }
  &__3-4 {
    grid-row-end: span 3;
    grid-column-end: span 4;
    background-color: yellowgreen;
  }

  &__4-1 {
    grid-row-end: span 4;
    grid-column-end: span 1;
    background-color: aqua;
  }
  &__4-2 {
    grid-row-end: span 4;
    grid-column-end: span 2;
    background-color: aqua;
  }
  &__4-3 {
    grid-row-end: span 4;
    grid-column-end: span 3;
    background-color: aqua;
  }
  &__4-4 {
    grid-row-end: span 4;
    grid-column-end: span 4;
    background-color: aqua;
  }
}
