*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: $color-background;

  display: flex;

  &:first-child {
    flex: 0 0 20%;
  }

  &:last-child {
    flex: 1;
  }
}
