html {
  font-size: 62.5%; // 1rem = 10px
}

body {
  font-family: var(--font-primary);

  color: $color-black;
}

.heading {
  font-size: 5.5rem;
  font-weight: 800;
  text-align: center;
}

.sub-heading {
  font-size: 3rem;
}
