.mt-xs {
  margin-top: 1.5rem;
}

.mt-sm {
  margin-top: 3rem;
}

.mt-md {
  margin-top: 5rem;
}

.mb-xs {
  margin-bottom: 1.5rem;
}

.mb-sm {
  margin-bottom: 3rem;
}

.tf-calculation {
  // do not disturb page flow
  position: absolute;
  visibility: hidden;

  // set dimensions to fit content
  width: auto;
  height: auto;

  // dont wrap text so we know exactly how much width it needs
  white-space: nowrap;
}
