//////////////// COLORS ////////////////
$color-primary: #7bdff2;
$color-primary-dark: #72b3f1;
$color-secondary: #f7d6e0;
$color-secondary-dark: #f2b5d4;

$color-background: #eff7f6;

$color-black: #000;

$color-grey-light: #d2d2d2;
$color-grey-dark: #495057;

//////////////// BORDERS ////////////////
$border-nav: $color-grey-light 0.2rem solid;

:root {
  //////////////// FONTS ////////////////
  --font-primary: "Lato", sans-serif;
  --font-logo: "Mrs Sheppards", cursive;

  //////////////// PADDING ////////////////
  --padding-sides-timeline: 4rem;
}
