//////////////// FONTS ////////////////
:root {
  --font-primary: "Lato", sans-serif;
  --font-logo: "Mrs Sheppards", cursive;
}

//////////////// COLORS ////////////////
$color-primary: #7bdff2;
$color-primary-dark: #72b3f1;
$color-secondary: #f7d6e0;
$color-secondary-dark: #f2b5d4;
